<h1>Listing visits</h1>

<table>
  <tr>
    <th>Date</th>
    <th>Hospital</th>
    <th>Consultant</th>
    <th>Issues</th>
    <th>Prescriptions</th>
    <th>Vital</th>
    <th>Sensitivity</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @visits.each do |visit| %>
  <tr>
    <td><%= visit.date %></td>
    <td><%= visit.hospital %></td>
    <td><%= visit.consultant %></td>
    <td><%= visit.issues %></td>
    <td><%= visit.prescriptions %></td>
    <td><%= visit.vital %></td>
    <td><%= visit.sensitivity %></td>
    <td><%= link_to 'Show', visit %></td>
    <td><%= link_to 'Edit', edit_visit_path(visit) %></td>
    <td><%= link_to 'Destroy', visit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Visit', new_visit_path %>
