<p id="notice"><%= notice %></p>

<p>
  <b>Registration:</b>
  <%= @facility.registration %>
</p>

<p>
  <b>Ftype:</b>
  <%= @facility.ftype %>
</p>

<p>
  <b>Name:</b>
  <%= @facility.name %>
</p>

<p>
  <b>Location:</b>
  <%= @facility.location %>
</p>

<p>
  <b>Open:</b>
  <%= @facility.open %>
</p>

<p>
  <b>Close:</b>
  <%= @facility.close %>
</p>


<%= link_to 'Edit', edit_facility_path(@facility) %> |
<%= link_to 'Back', facilities_path %>
